<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @host.website %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @host.ts %>
</p>

<p>
  <strong>Steamgroup:</strong>
  <%= @host.steamgroup %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
