<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @game.website %>
</p>

<p>
  <strong>Gamein:</strong>
  <%= @game.gamein %>
</p>

<p>
<%= link_to "New Host", new_game_host_path(@game) %>
</p>

<p>
  <strong>Release notes:</strong>
  <%= @game.release_notes %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
